#linkedin {
	overflow: visible;
	border-bottom: 1px solid #363636;
	position: relative;
	cursor: pointer;
}

.linkedin-off {
	background-image: url('../images/linkedin-off.jpg');
	width: 60px;
	height: 60px;
}

.linkedin-on {
	height: 60px;
	position: relative;
	top: 0;
	left: -174px;
	display: none;
}

a {
	background: #0359a3;
	background-image: url('../images/linkedin-on.jpg');
	background-repeat: no-repeat;
	background-position: left;
	font-family: Raleway, sans-serif;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	padding: 22px 22px 22px 82px;
	position: absolute;
	top: 0;
}