body {
	background: #0b0b0b;
}

nav {
	overflow: visible;
}

a {
	font-family: Raleway, sans-serif;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	padding: 22px 22px 22px 74px;
	position: absolute;
	top: 0;
}
#linkedin, #twitter, #behance, #email {
	overflow: visible;
	border-bottom: 1px solid #363636;
	position: relative;
	cursor: pointer;
}

.linkedin-off {
	background-image: url('../images/linkedin-off.jpg');
	width: 60px;
	height: 60px;
}

.linkedin-on {
	height: 60px;
	position: relative;
	top: 0;
	left: -256px;
	display: none;
	z-index: 1;
}

.linkedin-on a {
	background: #0359a3;
	background-image: url('../images/linkedin-on.jpg');
	background-repeat: no-repeat;
	background-position: left;
}

.twitter-off {
	background-image: url('../images/twitter-off.jpg');
	width: 60px;
	height: 60px;
}

.twitter-on {
	height: 60px;
	position: relative;
	top: 0;
	left: -260px;
	display: none;
	z-index: 1;
}

.twitter-on a {
	background: #0592c0;
	background-image: url('../images/twitter-on.jpg');
	background-repeat: no-repeat;
	background-position: left;
}

.behance-off {
	background-image: url('../images/behance-off.jpg');
	width: 60px;
	height: 60px;
}

.behance-on {
	height: 60px;
	position: relative;
	top: 0;
	left: -437px;
	display: none;
	z-index: 1;
}

.behance-on a {
	background: #95168b;
	background-image: url('../images/behance-on.jpg');
	background-repeat: no-repeat;
	background-position: left;
}

.email-off {
	background-image: url('../images/email-off.jpg');
	width: 60px;
	height: 60px;
}

.email-on {
	height: 60px;
	position: relative;
	top: 0;
	left: -241px;
	display: none;
	z-index: 1;
}

.email-on a {
	background: #e59702;
	background-image: url('../images/email-on.jpg');
	background-repeat: no-repeat;
	background-position: left;
}

main {
	background-image: url('../images/bkg.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 60px;
	border-left: 1px solid #363636;
	float: right;
	z-index: 0;
}

h1, h2, h3 {
	margin-left: -1000px;
}


